{% extends 'myBlog/base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/comment_form.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Quicksand:wght@300;500;600;700&family=Slabo+27px&family=Yellowtail&display=swap" rel="stylesheet">
{% endblock %}


{% block body_block %}

<h1>New Comment</h1>
<form class="post-form"  method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit" class='save btn btn-default'>Post Comment</button>

</form>
<script>var editor = new MediumEditor('.editable');</script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCtTZuuYMhq8t-WdSRrK6FpCvgDGSbAo88",
    authDomain: "legionblog.firebaseapp.com",
    projectId: "legionblog",
    storageBucket: "legionblog.appspot.com",
    messagingSenderId: "525196528525",
    appId: "1:525196528525:web:26834dd2c5de3604f68bc4",
    measurementId: "G-0BKN0TCVZZ"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
{% endblock %}
